html {
    overflow-x: hidden;
}

@media (width < 1200px) {
    .cart {
        position: absolute;
        left: calc(100vw - 24px);
        min-height: 100%;
        padding-bottom: 24px;
        border-top-left-radius: 0 !important;
        width: 60vw !important;

        transition: 500ms cubic-bezier(.49,.02,.5,1.2);

        &.opened {
            left: calc(40vw - 10px);
        }

        &:before {
            content: 'Your Cart';
            position: absolute;
            text-align: center;
            color: #3a5a34;
            font-weight: 600;
            font-size: 18px;
            width: 128px;
            height: 32px;
            rotate: 90deg;
            left: -80px;
            top: 64px;
            background-color: inherit;
            border-radius: 0 0 12px 12px;
        }
    }
}